/*the select button*/
.introDiv{
    text-align: center;
    height: 250px;
    margin: 0;
    top:150px;
	position: absolute;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.introDiv select{
    width: 200px; 
    height:45px; 
    font-size:28px;
    color:#D9C63C; 
    background-color:#6F3C89;
    font-family: 'Bangers', cursive,sans-serif;
    margin-left:10px;
}
.introDiv button {
    position: relative;
    width: 100px; 
    height:45px; 
    margin-left:20px;
    margin-top:50px;
}
.start{
    margin: 0;
    top:250px;
	position: absolute;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    text-align: center;
    font-style: italic;
    font-size:15px;
    outline: none;
    border-width:0;
    display: inline-block;
    border-radius: 4px;
    background-color:#6F3C89;
    border: none;
    color:#D9C63C; 
    text-align: center;
    padding: 2px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;

}
.start span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}  
.start span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.start:hover span {
    padding-right: 25px;
  }
  
.start:hover span:after {
    opacity: 1;
    right: 0;
  }
.apiResults{
    position: relative;
    top:250px;
}

/*Character Details*/
.characterWrapper{
    width: 800px;
}
.imageText{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 10px;
}
.imageText img {
    margin: 10px;
    box-shadow: 0 3px 6px 0 #454145, 0 4px 15px 0 #454145;
}
.imageText p {
    margin-top :375px;
}
/*Comic Details*/
.comicContainer{
    display: grid;
    grid-template-columns: 300px 300px 300px;
}
.comicWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.comicWrapper a img {
    margin: 10px;
    box-shadow: 0 3px 6px 0 #454145, 0 4px 15px 0 #454145;
}
/*Versus Logo*/
.versus{
    margin: 0;
    margin-top:-120px;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);	

}
.learn{
    color:#eb6f29;
}
.win{
    margin: 0;
    
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    visibility: hidden;	

}